@model IEnumerable<KilmoniCloud.Data.FormStream>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kilimo High Streams</h1>

<p>
    <a asp-action="Create">Create New Stream</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.FormStreamId">Edit</a> 
                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.FormStreamId">Details</a> 
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.FormStreamId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>